.container{
    width:  110%;
    overflow: hidden;
    margin-top: 20px;
    box-align: center;
    float: left;
    margin-right: auto;
    margin-left: auto;
}

.container ul{
    padding: 100px;
    margin: 150px;
    width:100%;
    float: left;
    margin-left: -140px;
    margin-top:auto;
}


.container ul li{
    float:left;
    list-style: none;
    width:27%;
    height:170px;
    background: grey;
    margin :20px 0px 20px 55px; 
    border:2px solid blue;
    box-sizing: border-box;
   
    
}
.container ul li:hover{
    opacity: 0.8;
}

.container ul li .bottom1{
    width: 30%;
    height:30px;
    line-height: 30px;
    background:skyblue;    
    text-align: center;
    color:white;
    font-size: 20px;
    position:relative;
    top:auto;

    
    
   
}


.container ul li .bottom2{
    width: 30%;
    height:30px;
    line-height: 30px;
    background: red;   
    text-align: center;
    color:white;
    font-size: 20px;
    position:relative;
    top:auto;
    left:auto;
}

.container ul li .bottom3{
    width: 30%;
    height:30px;
    line-height: 30px;
    background: brown;    
    text-align: center;
    color:white;
    font-size: 20px;
    position:relative;
    top:auto;
    left:auto;
   
}

.container .menu {
    text-align: center;
    margin-bottom: -50px;
 
}




@media screen and (min-width:993px){
    .container ul li{
        width:28%;
        margin-left: 45px;
        height: 140px;
        
         
    }

}


@media screen and (max-width:767px){
    .container ul li{
        width:  auto;
        
        
         
    }

}


@media screen and (min-width:768px) and  (max-width:991px){
    .container ul li{
        width:40%;
        margin-left: 40px;
        height: 140px;
         
    }

    
    .container ul li {
        width:40%;
        margin-left: 60px;
         
    }
    .container ul .box{
        width:87%;
        margin-left: 60px;
        height: 110px;
         
    }
}
    
